[Desktop Entry]
Version=1.0
Type=Link
Name=SourceCode
Comment=free for all to use and modify
Icon=folder-publicshare-symbolic.symbolic
URL=https://github.com/tecniix/niixarch-iso
